<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
                <% list_data.forEach(function(data) { %>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.username %></td>
                        <td><%= data.email %></td>
                        <td><%= data.password %></td>
                        <td>
                            <a href="/edit/<%= data.id %>" class="btn btn-warning">Edit</a>
                            <a href="/delete/<%= data.id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>